#collinsResult .ol .collinsMajorTrans {
    /*background: #eff5f8;*/
    padding: 5px 5px 5px 5px;
}

#collinsResult .ol li {
    list-style-type: none;
    text-align: left;
}

#collinsResult .examples {
    padding-left: 15px;
}

#collinsResult .collinsOrder {
    float: left;
    margin-left: -15px;
}

#collinsResult .exampleLists {
    margin: 15px 0 15px 40px;
    color: #626262;
}

div[class^='StudyPage_studyPage'] {
    max-width: 1280px;
}


.sidebar-block {
    background: white;
    box-shadow: 0 3px 12px 0 #b0b4be;
}

.sidebar-block ul {
    list-style-type: none;
}

.sidebar-content {
    margin: 10px;
}

#sidebar > p {
    word-wrap: break-word;
}


.span8 {
    width: 800px;
}

.span4 {
    width: 400px;
}


/* below is copy from Youdao dict */


p.via {
    font-size: 12px;
}

p.via, span.via {
    color: #959595;
}

.wordGroup .contentTitle {
    font-weight: bold;
    color: #35a1d4;
    margin-right: .5em;
}

.wordGroup .contentTitle a {
    text-decoration: none;
    color: #35a1d4;
}

a:link, a:visited {
    color: #35a1d4;
    outline: 0;
}

.do-detail {
    color: transparent !important;
}

